.events-this {
		@extend .elements;
		padding-bottom: 0px;
}

.events-all {
		@extend .elements;
}

.ticket {
	text-align: center;
	padding-bottom: $distances-1;
	@extend .font-size-2;
}

.post-event {
    @extend .table;
}

.post-event a {
    width: 100%;
}

.post-event .location-city {
    width: 33%;
    float: right;
    text-align: right;
}

.post-event .date-time {
    width: 33%;
    text-align: center;
    float: left;
}

.post-event .title {
    width: 33%;
    float: left;
}
