.footer {
		@extend .wrapper-inside;
		margin-bottom: $distances-2;
		@extend .elements;
		padding-top: $distances-2;

		@media screen and (max-width: $break-small) {
			padding-bottom: 0px;
		}
}


.footer .left {
    float: left;
    width: calc(100% / 3);

		@media screen and (max-width: $break-small) {
			float: none;
	    width: 100%;
			text-align: center;
		}
}

.footer .middle {
    width: calc(100% / 3);

		@media screen and (max-width: $break-small) {
			display: none;
		}
}

.footer .right {
    float: right;
    text-align: right;
    width: calc(100% / 3);

		@media screen and (max-width: $break-small) {
			float: none;
	    width: 100%;
			text-align: center;
			padding-top: 3px;
		}
}
