.footer {
		@extend .wrapper-inside;
		margin-bottom: $distances-2;
		@extend .elements;
}


.footer .left {
    float: left;
    width: 200px;
}

.footer .right {
    float: right;
    width: 200px;
    text-align: right;
}
