.footer {
		@extend .wrapper-inside;
		margin-bottom: $distances-3;
}

.footer .left {
    float: left;
    width: 200px;
}

.footer .right {
    float: right;
    width: 200px;
    text-align: right;
}
