html, * {
	margin: 0px;
	padding: 0px;
}

img {
	width: 100%;
	height: auto;
}

.wrapper-inside {
	margin-left: $distances-1;
	margin-right: $distances-1;
}

.elements {
	border-top: 1px solid black;
	padding-top: $distances-1;
	padding-bottom: $distances-1;
}
