.image-main img {
    width: 100vw;
    height: 100vh;
		object-fit: cover;
		position: fixed;
}

.navigation {
		@extend .wrapper-inside;
		padding-top: $distances-2;
		text-transform: uppercase;
		@extend .font-size-2;
		display: flex;
		padding-bottom: 10px;
}

.left {
    float: left;
    width: 100px;
}

.right {
    float: right;
    width: 100px;
    text-align: right;
}

.middle {
    text-align: center;
    width: calc(100% - 200px);
    float: left;
		cursor: pointer;
}

.start {
	display: none;
}

.home .start {
    text-align: center;
    width: calc(100% - 200px);
    float: left;
		cursor: pointer;
		display: block;
}

.home .middle {
	display: none;
}
