.image-main img {
    width: 100vw;
    height: 100vh;
		object-fit: cover;
		position: fixed;
}

.navigation {
		height: 35px;
		@extend .wrapper-inside;
		padding-top: 15px;
}

.left {
    float: left;
    width: 100px;
}

.right {
    float: right;
    width: 100px;
    text-align: right;
}

.middle {
    text-align: center;
    width: calc(100% - 200px);
    float: left;
		text-transform: uppercase;
}

.start {
	display: none;
}

.home .start {
	display: block;
}
