.insert-stuecke {
	@extend .elements;
	@extend .elements-wrap;
}

.vorschau-artikel {
    @extend .elements-wrap-inside;
}

.insert-stuecke .image-poster {
    border-top: none;
    padding-top: 0px;
    padding-bottom: $distances-2;
}

.insert-stuecke .inside {
	width: 100%;
}

.insert-stuecke .title-link {
	text-align: center;
}
