.presse {
	@extend .elements;
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.presse .post {
  display: inline-block;
  padding: $distances-2;
}

.presse .post img {
	height: 30vw;
	width: auto;
}

.presse-datei {
    text-align: center;
}
