.presse {
	@extend .elements;
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  justify-content: space-evenly;
	margin-bottom: -$distances-3;
}

.presse .download-datei {
  display: inline-block;
	padding-bottom: $distances-3;

}

.presse .post {
	padding-bottom: $distances-2;

}

.presse .post img {
	height: $image-height-1;
	width: auto;
}

.presse-datei {
    text-align: center;
}


.presse .title-link {
	display: none;
}

.presse .element-title {
	border-bottom: 1px solid black;
	margin-bottom: $distances-1;
}
