.vorschau-projekte {
	@extend .elements;
  @extend .elements-wrap;
}

.vorschau-projekt {
  @extend .elements-wrap-inside;
}

.vorschau-projekt .text-kurz {
	border: none;
	padding-top: $distances-2;
	@extend .font-size-1;
	@extend .both-side-indent-0;
	text-align: left;
}

.vorschau-projekt img {
    object-fit: cover;
		@extend .image-vorschau-height;
}

.projekte-template-default .titel-2 {
	border-top: 1px solid black;
	display: block;
	padding-top: $distances-1;
}
